/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} */

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.login-btn {
    font-size: 16px;
}

.container {
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

.posicion-form, .posicion-list {
    margin: 20px auto;
    max-width: 600px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

form label, form input {
    display: block;
    margin-bottom: 10px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.editBtn,
.deleteBtn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.posicion-list ul {
    list-style: none;
    padding: 0;
}

.posicion-list li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.posicion-list li:last-child {
    border-bottom: none;
}

.posicion-list span {
    flex-basis: 50%;
}

.posicion-list button {
    margin-left: 10px;
}
